*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    padding: 120px;
    flex-wrap: wrap;
    min-width: 1000px;
}


.parent-child{
   
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 30% 30%;
    grid-template-rows: 20% 20% 40% 20%;
    gap: 15px;
}

.child-grid {
    
    padding: 50px;
    color: white;
    font-size: 24px;
    text-align: center;
}


.Header{       
    grid-column: 1 / 4;
    font-size: 70px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: purple;
} 
.Aside{       
    background-color: blue;
    grid-row: 2 / 4;
    
    

} 


.Contact1{       
    background-color:  rgba(0, 238, 255, 0.781);
    grid-column:  2/4;
    
} 
.Contact2{       
    background-color: rgba(0, 238, 255, 0.781);   
} 

.Contact3{       
    background-color:  rgba(0, 238, 255, 0.781);
} 
.Footer{       
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    background-color: purple;
    grid-column: 1 / 4;
} 